body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6;
	color: #333;
	min-height: 100vh;
	margin: 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.App {
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	padding: 30px;
	width: 100%;
	max-width: 1200px;
	min-height: max-content;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}

.results {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
}

.results > *:nth-child(1) {
	grid-column: span 2;
}

.results > *:nth-child(2) {
	grid-column: span 1;
}

.results > *:nth-child(3) {
	grid-column: span 1;
}

.results > *:nth-child(4) {
	grid-column: span 1;
}

.results > *:nth-child(5) {
	grid-column: span 1;
}

@media (max-width: 768px) {
	body {
		padding: 0;
	}
	.App {
		min-height: 100vh;
		border-radius: 0;
		box-shadow: 0 0 0;
	}
	.results {
		grid-template-columns: 1fr;
	}

	.results > *:nth-child(2) {
		grid-column: span 2;
	}
	.results > *:nth-child(4) {
		grid-column: span 2;
	}
	.results > *:nth-child(3) {
		grid-column: span 2;
	}
	.results > *:nth-child(5) {
		grid-column: span 2;
	}
}

h1,
h2 {
	color: #2c3e50;
	margin-bottom: 15px;
}

input[type='date'] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 15px;
}

.error {
	color: #e74c3c;
	font-size: 14px;
	margin-top: 5px;
}

.language-selector {
	position: absolute;
	top: 10px;
	right: 10px;
}

.language-selector select {
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background-color: white;
}
